<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="make4u/assets/css/style.css">
    <link rel="stylesheet" href="make4u/assets/css/icons.css">
    <link rel="shortcut icon" href="make4u/assets/img/logo.png" type="image/x-icon">
    <style>
        .edit-title>span {
            display: flex;
            align-items: baseline;
            width: fit-content;
        }

        .edit-title .material-icons {
            font-size: 18px;
            margin-left: .5em;
        }
    </style>
</head>

<body>
    <nav role="menubar">
        <i onclick="M4U.toggleSidebar()" class="material-icons toggle-sidebar">menu</i>

        <div>
            <i class="material-icons">brightness_6</i>
            <menu hidden class="theme-mode">
                <span><i class="material-icons">brightness_4</i> Automatico</span>
                <span><i class="material-icons">light_mode</i> Claro</span>
                <span><i class="material-icons">nights_stay</i> Oscuro</span>
            </menu>
            <a style="display: flex;align-items:center; color:var(--color)">
                <i class="material-icons">launch</i>
                <span style="margin-left: .5em;cursor: pointer;">Visitar sitio</span>
            </a>
        </div>
    </nav>
    <aside role="navigation">
        <header>
            <span data-name="Añadir página" data-modal="add" onclick="M4U.modalOpen(this)">
                <i class="material-icons">add</i>
            </span>
        </header>
        <main>

            <a href="" data-name="Dashboard"><i class="material-icons">dashboard</i></a>
            <a href="" data-name="Temas"><i class="material-icons">layers</i></a>
            <a href="" data-name="Ajustes"><i class="material-icons">tune</i></a>
            <div class="divider"></div>
            <a href="" data-name="Cerrar Sesion"><i class="material-icons">logout</i></a>
        </main>
        <footer>
            &copy; 2022 Make4U
        </footer>
    </aside>
    <main>
        <div class="container">
            <div class="dashboard">
                <h2 class="edit-title">
                    <span data-modal="site-name">
                        My Site
                        <span class="material-icons">border_color</span>
                    </span>
                </h2>

                <br>

                <h5>Contenido</h5>
                <div class="content-page">


                    <article>
                        <div class="header">
                            <i class="material-icons">more_vert</i>
                            <span data-page=""></span>
                        </div>
                        <div class="content">
                            <a href="">Lorem ipsum</a><br>
                            <small>1 sept 2022</small>
                        </div>
                    </article>

                    <article>
                        <div class="header">
                            <i class="material-icons">more_vert</i>
                            <span data-page=""></span>
                        </div>
                        <div class="content">
                            <a href="">Lorem ipsum</a><br>
                            <small>1 sept 2022</small>
                        </div>
                    </article>

                    <article>
                        <div class="header">
                            <i class="material-icons">more_vert</i>
                            <span data-page=""></span>
                        </div>
                        <div class="content">
                            <a href="">Lorem ipsum</a><br>
                            <small>1 sept 2022</small>
                        </div>
                    </article>

                    <article>
                        <div class="header">
                            <i class="material-icons">more_vert</i>
                            <span data-page=""></span>
                        </div>
                        <div class="content">
                            <a href="">Lorem ipsum</a><br>
                            <small>1 sept 2022</small>
                        </div>
                    </article>

                    <article>
                        <div class="header">
                            <i class="material-icons">more_vert</i>
                            <span data-page=""></span>
                        </div>
                        <div class="content">
                            <a href="">Lorem ipsum</a><br>
                            <small>1 sept 2022</small>
                        </div>
                    </article>

                    <article>
                        <div class="header">
                            <i class="material-icons">more_vert</i>
                            <span data-page=""></span>
                        </div>
                        <div class="content">
                            <a href="">Lorem ipsum</a><br>
                            <small>1 sept 2022</small>
                        </div>
                    </article>

                    <article>
                        <div class="header">
                            <i class="material-icons">more_vert</i>
                            <span data-page=""></span>
                        </div>
                        <div class="content">
                            <a href="">Lorem ipsum</a><br>
                            <small>1 sept 2022</small>
                        </div>
                    </article>

                </div>
            </div>
        </div>
    </main>

    

    <dialog id="add" >
        <div class="card">
            <header>Lorem ipsum dolor</header>
            <main>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti omnis ad enim earum laboriosam
                accusantium natus, culpa perferendis deserunt voluptatibus libero, tenetur molestiae. Laborum pariatur
                maiores doloremque ad, omnis praesentium.</main>
            <footer>
                <button class="close-modal btn-text">cerrar</button>
                <button class="btn-text">aceptar</button>
            </footer>
        </div>
    </dialog>

    <script src="make4u/assets/js/main.js"></script>
</body>

</html>