<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="make4u/assets/css/style.css">
    <link rel="stylesheet" href="make4u/assets/css/icons.css">
    <link rel="shortcut icon" href="make4u/assets/img/logo.png" type="image/x-icon">
    <style>
        .edit-title>span {
            display: flex;
            align-items: baseline;
            width: fit-content;
        }

        .edit-title .material-icons {
            font-size: 18px;
            margin-left: .5em;
        }
    </style>
</head>

<body>
    <nav role="menubar">
        <i onclick="M4U.toggleSidebar()" class="material-icons toggle-sidebar">menu</i>
    </nav>
    <aside role="navigation">
        <header>
            <span data-name="Nueva">
                <i class="material-icons">edit</i>
            </span>
        </header>
        <main>

            <a href="" data-name="Dashboard"><i class="material-icons">dashboard</i></a>
            <a href="" data-name="Contenido"><i class="material-icons">file_copy</i></a>
            <a href="" data-name="Temas"><i class="material-icons">layers</i></a>
            <a href="" data-name="Ajustes"><i class="material-icons">tune</i></a>
            <div class="divider"></div>
            <a href="" data-name="Cerrar Sesion"><i class="material-icons">logout</i></a>
        </main>
        <footer>
            &copy; 2022 Make4U
        </footer>
    </aside>
    <main>
        <div class="container">
            <div class="dashboard">
                <h2 class="edit-title">
                    <span data-modal="site-name">
                        My Site
                        <span class="material-icons">border_color</span>
                    </span>
                </h2>

                <br>

                <h5>Contenido</h5>
                <div class="content">

                    <article>
                        <a href="">
                            <i class="material-icons">description</i>
                        </a>
                        <div class="content">
                            <a href="">Lorem ipsum</a>
                            <i class="material-icons">more_vert</i>
                        </div>
                    </article>

                </div>
            </div>
        </div>
    </main>

    <div class="modal" id="site-name">
        <header></header>
        <main>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi, ducimus atque. Voluptates odio
            perspiciatis tempore facere recusandae quae delectus! Ipsum asperiores laudantium adipisci voluptates, modi
            quam exercitationem eveniet dolorum ex?</main>
        <footer></footer>
    </div>

    <script src="make4u/assets/js/main.js"></script>
</body>

</html>