<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="make4u/assets/css/style.css">
    <link rel="stylesheet" href="make4u/assets/css/icons.css">
    <link rel="shortcut icon" href="make4u/assets/img/logo.png" type="image/x-icon">
</head>

<body>
    <nav role="menubar">
        <i onclick="M4U.toggleSidebar()" class="material-icons toggle-sidebar">menu</i>
    </nav>
    <aside role="navigation">
        <header>
            <span data-name="Nueva">
                <i class="material-icons">edit</i>
            </span>
        </header>
        <main>

            <a href="" data-name="Dashboard"><i class="material-icons">dashboard</i></a>
            <a href="" data-name="Contenido"><i class="material-icons">file_copy</i></a>
            <a href="" data-name="Temas"><i class="material-icons">layers</i></a>
            <a href="" data-name="Ajustes"><i class="material-icons">tune</i></a>
            <div class="divider"></div>
            <a href="" data-name="Cerrar Sesion"><i class="material-icons">logout</i></a>
        </main>
        <footer>
            &copy; 2022 Make4U
        </footer>
    </aside>
    <main>
        <div class="container">
            <div class="dashboard">
                <div class="welcome">
                    <div class="card">
                        <h3>Welcome!</h3>
                        <p> You are logged in as Admin. To help you get started
                            building with dotCMS we provided some quick links.</p>
                    </div>
                </div>
                <div class="storage">
                    <div class="card"></div>
                </div>
                <div class="activity">
                    <div style="display: flex;justify-content:space-between">
                        <h4>Recientes</h4>
                        <i class="material-icons">view_list</i>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="make4u/assets/js/main.js"></script>
</body>

</html>